- title('Instruções de Confirmação')

.row
  .large-12.columns
    .auth-box
      %h3 Reenviar Instruções de Confirmação
      .form
        = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f|
          = f.input :email, label: false, placeholder: 'email', autofocus: true
          = f.button :submit, "Enviar instruções!", class: 'flat-button'

      .options
        = render :partial => "users/shared/links"
