%tr
  = simple_form_for(:identification) do |f|
    %td
      = link_to [:manage, participant.user] do
        = participant.user.name
      = surround '(', ')' do
        #{l(participant.user.profile.birthdate)}, #{participant.user.profile.age}
    %td
      = participant.registration.team.name
    %td
      = f.input_field :participant_id, as: :hidden, value: participant.id
      = f.input_field :identification, class: 'last',
        value: participant.identification
    %td
      = f.input_field :category_id, collection: categories, class: 'last',
        selected: proc { |category| category.id == participant.category_id },
        prompt: 'Selecione Escalão'
    %td= f.button :submit, 'Guardar', class: 'flat-button last'
