%h2
  %i.fa.fa-calendar
  = @event.name
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-barcode
      Dorsais e Escalões
    %ul.ui-box-actions
      %li
        = link_to [:manage, :registrations], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
  .ui-box-body
    %table
      %thead
        %tr
          %th Nome
          %th Equipa
          %th Dorsal
          %th Escalão
          %th
      %tbody
        - @todo.each do |participant|
          = render 'row', participant: participant, categories: @categories

.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-barcode
      Dorsais e Escalões
  .ui-box-body
    %table
      %thead
        %tr
          %th Nome
          %th Equipa
          %th Dorsal
          %th Escalão
          %th
      %tbody
        - @done.each do |participant|
          = render 'row', participant: participant, categories: @categories

