- title('Inscrições Equipa')
%h2
  %i.fa.fa-calendar
  #{@event.name} - #{@event_option.name}
- if current_user.manages?(@event_option) || @event_option.available?
  = simple_form_for(@team_registration, url: [:account, @event_option, :registrations],
    wrapper: 'foundation_inline', html: { class: 'inline-form' }) do |f|
    .ui-box
      .ui-box-header
        %h2.title #1: Qual a Equipa Onde Inscrever os Atletas
      .ui-box-body
        %fieldset.single
          .input.select.first
            .suffix-wrapper
              .team-select
                = f.collection_select :team_select, @teams,
                  :name, :name, { :include_blank => 'Selecione uma equipa',
                  selected: lambda { |team| team.name == session[:team] } }
              .team-create
                = f.input_field :team_input, placeholder: 'Indique um nome para criar nova equipa'
                - if @team_registration.errors.include?(:team_input)
                  %small.error= @team_registration.errors.get(:team_input).first

    .ui-box
      .ui-box-header
        %h2.title #2: Inscrever Atleta Já Registado (pesquisa por número do cartão de cidadão)
      .ui-box-body
        %fieldset.single
          .input.numeric.first
            .suffix-wrapper
              = f.input_field :citizen_id_search,
                placeholder: 'Indique o número do cartão de cidadão',
                class: 'suffix-input'
              %button.suffix-button.flat-button.last Inscrever

    .ui-box
      .ui-box-header
        %h2.title #3: Inscrever Novo Atleta
      .ui-box-body
        %fieldset.last.single
          .input.string.first
            = f.label :first_name, required: true, class: "#{'error' if @team_registration.name_error}"
            .control-input
              = f.input_field :first_name, placeholder: 'Primeiro',
                class: "#{'error' if @team_registration.errors.include?(:first_name)}"
              = f.input_field :last_name, placeholder: 'Último',
                class: "#{'error' if @team_registration.errors.include?(:last_name)}"
              - if @team_registration.errors.include?(:first_name) || @team_registration.errors.include?(:last_name)
                %small.error= @team_registration.name_error

          = f.input :birthdate, required: true, placeholder: 'dia/mês/ano, ex: 20/11/2013'
          = f.input :gender_id, collection: Gender.all, required: true
          = f.input :citizen_id, required: true, placeholder: 'Número do Cartão de Cidadão'
          = f.input :email, required: true

          .input.numeric
            = f.label :postal_code, required: true,  class: "#{'error' if @team_registration.postal_error}"
            .control-input
              = f.input_field :postal_code, placeholder: 'Código (ex. 4760)',
                class: "#{'error' if @team_registration.errors.include?(:postal_code)}"
              = f.input_field :postal_extension, placeholder: 'Extensão (ex. 101)',
                class: " #{'error' if @team_registration.errors.include?(:postal_extension)}"
              - if @team_registration.errors.include?(:postal_code) || @team_registration.errors.include?(:postal_extension)
                %small.error= @team_registration.postal_error

          = f.input :country, collection: Country.all, selected: proc { |item| f.object.country.try(:id) == item.id || item.id == 'PT' }
          = f.input :phone_number, required: true
          = f.input :shirt_size, collection: Profile::SHIRT_SIZES

          .input.submit
            = f.button :submit, 'Inscrever', class: 'flat-button'

    .ui-box
      .ui-box-header
        %h2.title
          %i.fa.fa-group
          Atletas Inscritos
      .ui-box-body
        %table
          %thead
            %tr
              %th Equipa
              %th Nome
              %th Email
              %th CC
              %th Remover
          %tbody
            - @registrations.each do |registration|
              - registration.participants.each do |participant|
                %tr
                  %td= registration.team.name
                  %td= participant.user.profile.name
                  %td= participant.user.email
                  %td= participant.user.profile.citizen_id
                  %td
                    = link_to [:account, participant], data: { method: :delete } do
                      %i.fa.fa-times.action-danger
- else
  .panel
    %h3
      %i.fa.fa-info-sign
      As inscrições para este evento encontram-se fechadas!
