- title('Inscrições')

- @registrations.each do |registration|
  .ui-box
    .ui-box-header.clearfix
      %h2.title.left
        %i.fa.fa-inbox
        #{registration.event.name} :: #{registration.team.name}
    .ui-box-body
      %table
        %thead
          %tr
            %th.status{ class: registration.state.downcase }
            %th= link_to registration.event.name, registration.event
            - if registration.price
              %th= number_to_currency(registration.price.value)
            - else
              %th= number_to_currency(0)
            %th= l(registration.event_option.begins_at)
            %th{ colspan: 2 }
              - if registration.managed_by?(current_user)
                - if registration.paid?
                  = link_to [:new, :account, registration, :transaction] do
                    %i.fa.fa-eur
                    Liquidado
                - else
                  = link_to [:new, :account, registration, :transaction] do
                    %i.fa.fa-eur
                    Liquidar
              - else
                Inscrito Por: #{registration.user.name}

            %th
              = link_to [:individual, :account, registration.event_option, :registrations] do
                %i.fa.fa-cog
                Gerir

        %tbody
          - registration.participants.each do |member|
            %tr
              %td
              %td= member.user.profile.name
              %td= member.user.profile.citizen_id
              %td= member.user.email
              %td{ colspan: 3 }= l(member.created_at)
