- title('Inscrição Individual ou Equipa')

- if !current_user.registered?(@event) && !@event_option.available?
  .panel
    %h3
      %i.fa.fa-info-sign
      As inscrições para este evento encontram-se fechadas!

- elsif current_user.profile.try(:persisted?)
  %h2
    %i.fa.fa-calendar
    #{@event.name} - #{@event_option.name}

  .panel
    %h3
      %i.fa.fa-info-sign
      Inscrição Individual

    %p
      A inscrição individual permite a inscrição num evento com um simples clique. Deves optar por esta opção se apenas pretendes realizar a tua inscrição.

    %p
      Os dados do teu perfil serão utilizados para concluir o processo de inscrição, por isso, é importante que estejam corretos e atualizados.

    - if current_user.registered?(@event)
      %p
        .label.success
          %i.fa.fa-ok
          Registo já realizado!
        .label.alert
          = link_to [:account, @event_option, :registrations], data: { method: :delete, confirm: 'Avançar com a operação e cancelar o registo?' } do
            %i.fa.fa-remove
            Pretendo cancelar a minha inscrição!
    - else
      = simple_form_for(@registration, url: [:account, @event_option, :registrations]) do |f|
        = f.input_field :event_option_id, as: :hidden, value: @event_option.id
        %button.flat-button.last
          %i.fa.fa-user
          Pretendo realizar uma inscrição individual
  .panel
    %h3
      %i.fa.fa-info-sign
      Inscrever Equipa

    %p
      Se és o responsável pelas inscrições de um grupo de pessoas deves utilizar a inscrição de equipa.
      Desta forma, podes gerir os atletas inscritos a qualquer momento.
    %p
      Caso sejas responsável por mais do que uma equipa utiliza também esta opção. No formulário de inscrição
      terás a possibilidade de indicar a equipa pretendida.

    = link_to [:team, :account, @event_option, :registrations], class: 'flat-button' do
      %i.fa.fa-group
      Pretendo inscrever/gerir uma equipa

- else
  .panel
    %h2
      %i.action-alert.fa.fa-warning-sign
      Perfil Por Concluir

    %p
      Para podermos dar seguimento à tua inscrição necessitamos que forneças alguns #{link_to 'dados', account_profile_path}.
    %p
      No sentido de remover esta mensagem e avançar com o processo de inscrição, basta que acedas ao teu #{link_to 'perfil', account_profile_path} e preenchas o formulário. Depois, só precisas de voltar a esta página e concluir a inscrição no evento.
