- title('Instruções de Confirmação')

%h2.form-title Reenviar Instruções de Confirmação

= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f|
  = f.input :email

  = f.button :submit, "Prosseguir"

= render :partial => "devise/shared/links"
