- title('Histórico de Transações')
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-eur
      Histórico de Transações

  .ui-box-body
    %table
      %thead
        %tr
          %th Evento
          %th Documento
          %th Estado
          %th Data Envio

      %tbody
        - @transactions.each do |transaction|
          %tr
            %td #{transaction.registration.event.name} - #{transaction.registration.event_option.name}
            %td= link_to 'Visualizar', transaction.payment_proof.attachment.url
            %td
              %span.label{ class: transaction.state.downcase }= t(transaction.humanize_state)
            %td= l(transaction.created_at)
