- title("Transações #{@registration.event.name}")
%h2
  %i.fa.fa-calendar
  #{@registration.event.name} - #{@registration.event_option.name}
.ui-box
  .ui-box-header.clearfix
    %h3.title.left
      %i.fa.fa-inbox
      Inscritos (#{@registration.team.name})
  .ui-box-body
    %table
      %thead
        %tr
          %th Nome
          %th CC
          %th Email
          %th Data
      %tbody
        - @registration.participants.each do |participant|
          %tr
            %td= participant.user.profile.name
            %td= participant.user.profile.citizen_id
            %td= participant.user.email
            %td= l(participant.created_at)

.ui-box
  .ui-box-header.clearfix
    %h3.title.left
      %i.fa.fa-eur
      Transações
  .ui-box-body
    %table
      %thead
        %tr
          %th Ficheiro
          %th Estado
          %th Data Envio
          %th Remover
      %tbody
        - @registration.transactions.each do |transaction|
          %tr
            %td= link_to 'Ver Documento', transaction.payment_proof.attachment_url if transaction.payment_proof
            %td
              %span.label{ class: transaction.state.downcase }= t(transaction.state)
            %td= l(transaction.created_at)
            %td
              - if transaction.verified? || transaction.revoked?
                \-
              - else
                = link_to [:account, @registration, transaction],
                  data: { method: 'delete', confirm: 'Pretende realmente apagar este registo?' } do
                  %i.fa.fa-remove.action-danger
      %tfoot
        %tr.balance-line
          %td.balance-title{ colspan: 3 } A Pagar
          %td.balance-value= number_to_currency(@registration.balance)


- unless @registration.paid?
  - if @registration.event.bank_account_number.present?
    .panel
      %h3
        %i.fa.fa-info-sign
        Dados Para Transferência Bancária
      %p
        NIB: #{@registration.event.bank_account_number} 

      %p
        Após realizares a transferência bancária envia-nos o comprovativo da mesma. Caso necessites de fazer múltiplos pagamentos deves enviar um comprovativo por cada.

  .ui-box
    .ui-box-header.clearfix
      %h3.title.left
        %i.fa.fa-upload
        Enviar Comprovativo
    .ui-box-body
      = simple_form_for([:account, @registration, @transaction]) do |f|
        = f.input :assets, as: :file,
          label: 'Anexa o comprovativo em formato imagem ou pdf (.png, .jpg, .gif, .pdf)'
        = f.button :submit, 'Enviar', class: 'flat-button last'
