- title('Gestão Equipas')
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-group
      = @team.persisted? ? 'Editar Equipa' : 'Nova Equipa'

    %ul.ui-box-actions
      %li
        = link_to [:account, :teams], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
        - if @team.persisted?
          %li
            = link_to [:account, @team], method: :delete, class: 'action' do
              %i.fa.fa-remove.action-danger

  .ui-box-body
    = simple_form_for([:account, @team],
      wrapper: 'foundation_inline',
      html: { class: 'inline-form' }) do |f|
      = f.input :name, wrapper_html: { class: 'first' }
      .input.submit
        = f.button :submit, class: 'flat-button'
