- title('Gestão Equipas')
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-group
      Equipas
    %ul.ui-box-actions
      %li
        = link_to [:new, :account, :team], class: 'action' do
          %i.fa.fa-plus.action-ok

  .ui-box-body
    %table
      %thead
        %tr
        %th Equipa
        %th Ações
      %tbody
        - @teams.each do |team|
          %tr
            %td= link_to team.name, [:edit, :account, team]
            %td
              - if team.registrations.any?
                \-
              - else
                = link_to [:account, team], data: { method: :delete } do
                  %i.fa.fa-remove.action-danger

