:plain
  Saudações Virtuais

  Foi criado um novo registo para o evento "#{@registration.event.name}".

  Os registos podem ser consultados em #{manage_registrations_url}.

  Boas Corridas,
  Equipa FamaRunners
