:plain
  Saudações Virtuais

  Foi realizado novo pagamento para o evento "#{@registration.event.name}".

  Os pagamentos podem ser consultados em #{manage_registration_url(@registration)}.

  Boas Corridas,
  Equipa FamaRunners
