:plain
  Saudações Virtuais!

  Foi submetida uma mensagem pela plataforma de inscrições famarunners.com:

  ===============================
  De: #{@message.from}

  Assunto: #{@message.subject}

  Corpo:

  #{@message.body}
  ===============================

  Boas Corridas,
  Equipa FamaRunners
