:plain
  Saudações Virtuais,

  O teu número de dorsal e respetivo escalão acabam de ser atribuídos:

  Dorsal: #{@participant.identification}
  Escalão: #{@participant.category.name}

  Caso tenhas alguma dúvida basta que respondas a este email.

  Boas Corridas,
  Equipa FamaRunners
