:plain
  Saudações Virtuais,

  O utilizador #{@registration.user.name} utilizou a plataforma #{root_url} para te inscrever no evento #{@event.name}. Fazes parte da equipa #{@registration.team.name}.

  Podes consultar informações relativas ao evento em #{event_url(@event)}.

  Caso não pretendas participar no evento ou verifiques que a inscrição foi realizada sem o teu consentimento, deves aceder à tua conta e cancelar a inscrição no seguinte endereço, #{individual_account_event_registrations_url(@event)}.

  Para acederes à tua conta autentica-te em #{new_user_session_url} ou recupera a tua password em #{new_user_session_url}.

  Caso tenhas alguma dúvida basta que respondas a este email.

  Boas Corridas,
  Equipa FamaRunners