:plain
  Saudações Virtuais,

  A inscrição para o evento #{@event.name} foi recebida com sucesso.
  
  Para concluir o processo podes consultar as informações de pagamento em #{new_account_registration_transaction_url(@registration)}.

  Para esclarecimento de qualquer dúvida basta que respondas a este email.

  Boas Corridas,
  Equipa FamaRunners
