:plain
  Saudações Virtuais,

  O pagamento ##{@transaction.id} referente ao evento #{@transaction.registration.event.name} acaba de ser #{t(@transaction.state).downcase}.

  Para esclarecer qualquer dúvida referente a este tópico, basta que respondas ao presente email.

  Boas Corridas,
  Equipa FamaRunners
