- title('Opções')
%h2.title
  %i.fa.fa-calendar
  = @event.name

.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-folder-open
      = @option.persisted? ? @option.name : 'Nova Opção'
    %ul.ui-box-actions
      %li
        = link_to [:manage, @event, :event_options], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
  .ui-box-body
    = simple_form_for(@option, url: [:manage, @event, @option],
      wrapper: 'foundation_inline',
      html: { class: 'inline-form' }) do |f|
      = f.input :name, wrapper_html: { class: 'first' }, autofocus: true
      = f.input :max_participants
      = f.input :begins_at
      = f.input :ends_at
      = f.input :registration_limit

      .input.submit
        = f.button :submit, class: 'flat-button last'
