%h1
  %i.fa.fa-calendar
  = @event.name
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-bars
      Opções
    %ul.ui-box-actions
      %li
        = link_to [:manage, :events], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
      %li
        = link_to [:new, :manage, @event, :event_option], class: 'action' do
          %i.fa.fa-plus.action-ok

  .ui-box-body
    %table
      %thead
        %tr
          %th Opção
          %th Preço
          %th Data Limite
          %th Vagas
          %th Ações
      %tbody
        - @event.options.each do |option|
          %tr
            %td= link_to option.name, [:edit, :manage, @event, option]
            %td= number_to_currency(option.price)
            %td= l(option.registration_limit)
            %td= option.max_participants
            %td
              = link_to [:manage, @event, option],
                data: { method: 'delete', confirm: 'Avançar com a operação?'} do
                %i.fa.fa-times.action-danger
