- title('Dashboard')

/ next events
.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-calendar
      Próximos Eventos
  .ui-box-body
    %table
      %thead
        %tr
          %th{colspan: 2} Nome
          %th Data/Hora
          %th Preço
          %th Prazo
          %th Inscritos / Lotação
          %th
      - @events.each do |event|
        %thead
          %tr
            %th{colspan: 3}
              = event.name
            %th
            %th{colspan: 3}= l(event.registration_limit)
        %tbody
          - event.options.each do |option|
            %tr.odd
              %td.status.indent
                %i.fa.fa-chevron-right
              %td
                = option.name
              %td= l(option.begins_at)
              %td= number_to_currency(0)
              %td= l(option.registration_limit)
              %td 0 / #{option.max_participants}
              %td= link_to 'Inscrever', [:individual, :account, option, :registrations]

/ registrations
.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-inbox
      Inscrições
  .ui-box-body
    %table
      %thead
        %th Evento
        / %th Data
        %th Responsável
        %th Equipa
        %th Estado
        %th
      %tbody
        - @participations.each do |participant|
          %tr
            %td #{participant.event.name} - #{participant.event_option.name}
            %td= participant.registration.user.profile.name
            %td= participant.registration.team.name
            %td
              - if participant.registration.paid?
                %span.label.a= t('A')
              - else
                %span.label{ class: participant.registration.state.downcase }= t(participant.registration.state)
                - if participant.registration.managed_by?(current_user)
                  = surround '( ', ')' do
                    = link_to [:new, :account, participant.registration, :transaction] do
                      %i.fa.fa-eur
                      Liquidar
            %td
              = link_to [:individual, :account, participant.event_option, :registrations] do
                %i.fa.fa-cog
                Gerir

/ managed registrations
.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-group
      Inscrições Promovidas Por Ti
  .ui-box-body
    %table
      %thead
        %th Evento
        %th Data
        %th Equipa
        %th Inscritos
        %th Participa?
        %th Estado
        %th
      %tbody
        - @registrations.each do |registration|
          %tr
            %td #{registration.event.name} - #{registration.event_option.name}
            %td= l(registration.event_option.begins_at)
            %td= registration.team.name
            %td= registration.participants.size
            %td
              - if current_user.registered?(registration.event)
                %span.label.a Sim
              - else
                %span.label.p
                  Não
            %td
              - if registration.paid?
                %span.label.a= t('A')
              - else
                %span.label{ class: registration.state.downcase }= t(registration.state)
                - if registration.managed_by?(current_user)
                  = surround '( ', ')' do
                    = link_to [:new, :account, registration, :transaction] do
                      %i.fa.fa-eur
                      Liquidar
            %td
              = link_to individual_account_event_option_registrations_path(registration.event_option) do
                %i.fa.fa-cog
                Gerir