- title('Login')

.row
  .large-12.columns
    .auth-box
      %h3 Login
      .form
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

          = f.input :email, label: false, placeholder: 'email', autofocus: true
          = f.input :password, label: false, placeholder: 'password'
          - if devise_mapping.rememberable?
            = f.input :remember_me, as: :boolean
          = f.button :submit, 'Autenticar', class: 'flat-button'
      .options
        = render :partial => 'users/shared/links'
