.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-calendar
      #{@event.persisted? ? 'Editar' : 'Novo'} Evento
    %ul.ui-box-actions
      %li
        = link_to [:manage, :events], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
      - if @event.persisted?
        %li
          = link_to [:manage, @event, :event_options], class: 'action' do
            %i.fa.fa-bars.action-ok
  .ui-box-body
    = simple_form_for([:manage, @event], wrapper: 'foundation_inline', html:  { class: 'inline-form' }) do |f|
      = f.input :name, wrapper_html: { class: 'first' } 
      = f.input :summary, as: :text
      = f.input :description
      = f.input :address, as: :text
      .input.numeric
        = f.label :postal_code
        .control-input
          = f.input_field :postal_code, class: 'column-5'
          .sep
            \-
          = f.input_field :postal_extension, class: 'column-6'
      
      = f.input :registration_limit
      = f.input :bank_account_number
      .input.submit
        = f.button :submit, class: 'flat-button last'

- if @event.persisted?
  .ui-box
    .ui-box-header
      %h2.title
        %i.fa.fa-calendar
        Media
    .ui-box-body
      = simple_form_for(@event, url: [:manage, @event]) do |f|
        = f.input :assets, as: :file
        = hidden_field_tag 'event[fill]'
        .input.submit
          = f.button :submit, 'Enviar', class: 'flat-button last'

      %table
        - @event.event_images.each do |asset|
          %tr
            %td.media-fa.fa
              - if asset.image?
                = image_tag asset.attachment.thumb
              - elsif asset.video?
                %i.fa.fa-file-text-alt
              - else
                = link_to asset.attachment.url do
                  %i.fa.fa-file-text-alt
            %td
              = attachment_cdn(asset.attachment)
            %td
              = l(asset.created_at)
