.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-calendar
      Eventos
    %ul.ui-box-actions
      %li
        = link_to [:new, :manage, :event], class: 'action' do
          %i.fa.fa-plus.action-ok
  .ui-box-body
    %table
      %thead
        %tr
          %th{colspan: 2} Nome
          %th Início
          %th Limite Inscrição
          %th Vagas
      - @events.each do |event|
        %thead
          %tr
            %th{colspan: 3}
              = event.name
              = link_to [:edit, :manage, event] do
                %i.fa.fa-pencil.fa-fw{ title: 'Editar' }
              = link_to [:manage, event, :event_options] do
                %i.fa.fa-bars.fa-fw{ title: 'Opções' }
              = link_to [:manage, event, :entries] do
                %i.fa.fa-book.fa-fw{ title: 'Artigos' }
            %th{colspan: 2}= l(event.registration_limit)
        %tbody
          - event.options.each do |option|
            %tr.odd
              %td.status.indent
                %i.fa.fa-chevron-right
              %td
                = link_to option.name, [:edit, :manage, event, option]
              %td= l(option.begins_at)
              %td= l(option.registration_limit)
              %td= option.max_participants