%h2
  %i.fa.fa-calendar
  = @event.name
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-list
      Listagem Inscritos
    %ul.ui-box-actions
      %li
        = link_to [:manage, :registrations], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
  .ui-box-body
    %table
      - @teams.each do |team| 
        %thead
          %tr
            %th
            - if team.id == Team::INDIVIDUAL
              %th{ colspan: 6 }= team.name
            - else
              %th= team.name
              %th= link_to team.user.name, [:manage, team.user]
              %th= team.user.profile.phone_number
              %th{ colspan: 3 }= team.user.email

        %tbody
          - @participants[team.id].each do |participant|
            %tr
              %td.status{ class: participant.registration.state.downcase }
              %td= link_to participant.user.name, [:manage, participant.user]
              %td= participant.user.profile.phone_number
              %td{ colspan: 4 }= participant.user.email
      %tfoot
        %tr
          %td
          %td.total Equipas
          %td= @team_count
          %td.total Individuais
          %td= @individual_count
          %td.total Total
          %td= @team_count + @individual_count
