%ul.auth-options
  - if controller_name != 'sessions'
    %li
      Já pertences à comunidade?
      = link_to 'Autentica-te', new_session_path(resource_name)
  - if devise_mapping.registerable? && controller_name != 'registrations'
    %li
      Queres participar num evento? 
      = link_to 'Regista-te', new_registration_path(resource_name)
  - if devise_mapping.recoverable? && controller_name != 'passwords'
    %li
      Não te recordas dos dados de acesso?
      = link_to 'Recupera-os', new_password_path(resource_name)
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    %li
      Não recebeste o email de confirmação?
      = link_to 'Reenviar', new_confirmation_path(resource_name)
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    %li
      Conta bloqueada?
      = link_to 'Desbloquear', new_unlock_path(resource_name)
  -# - if devise_mapping.omniauthable?
  -#   - resource_class.omniauth_providers.each do |provider|
  -#     %li= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
