- title('Gestão Equipas')
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-group
      = @team.persisted? ? 'Editar Equipa' : 'Nova Equipa'

    %ul.ui-box-actions
      %li
        = link_to [:manage, :teams], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
        - if @team.persisted? && !@team.registrations.any?
          %li
            = link_to [:manage, @team], data: { method: :delete, confirm: 'Avançar com a operação?' }, class: 'action' do
              %i.fa.fa-remove.action-danger

  .ui-box-body
    = simple_form_for([:manage, @team],
      wrapper: 'foundation_inline',
      html: { class: 'inline-form' }) do |f|
      = f.input :name, wrapper_html: { class: 'first' }
      .input.submit
        = f.button :submit, class: 'flat-button'
