- title('Gestão Equipas')
.ui-box
  .ui-box-header.clearfix
    %h2.title
      %i.fa.fa-group
      Equipas

  .ui-box-body
    %table
      %thead
        %tr
        %th Equipa
        %th Utilizador
        %th Ações
      %tbody
        - @teams.each do |team|
          %tr
            %td= link_to team.name, [:edit, :manage, team]
            %td= link_to team.user.name, [:manage, team.user]
            %td
              - if team.registrations.any?
                \-
              - else
                = link_to [:manage, team], data: { method: :delete, confirm: 'Avançar com a operação?' } do
                  %i.fa.fa-remove.action-danger

