.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-sign-in
      Login

  .ui-box-body
    = simple_form_for(resource, :as => resource_name,
      :url => session_path(resource_name)) do |f|
      
      = f.input :email, label: false, placeholder: 'email', autofocus: true
      = f.input :password, label: false, placeholder: 'password'
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean
      
      = f.button :submit, 'Autenticar!', class: 'flat-button last'
      %span.secondary-link
        ou
        = link_to 'Recuperar Acesso', new_password_path(resource_name)

