- title('Desbloquear Conta')

.row
  .large-12.columns
    .auth-box
    %h2 Reenviar Instruções Para Desbloquear Conta

    = simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name)) do |f|

      = f.input :email, autofocus: true
      = f.submit "Resend unlock instructions"

    = render :partial => "users/shared/links"
