.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-eur
      Preços
    %ul.ui-box-actions
      %li
        = link_to [:manage, :events], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
  .ui-box-body
    = simple_form_for(@price, url: [:manage, @event, @price],
      wrapper: 'foundation_inline', html: { class: 'inline-form' }) do |f|
      = f.input :value, wrapper_html: { class: 'first' }
      = f.input :date
      .input.submit
        = f.button :submit, 'Adicionar Preço', class: 'flat-button last'

.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-eur
      Preços
  .ui-box-body
    %table
      %thead
        %tr
          %th Preço
          %th Data
          %td
      %tbody
        - @event.prices.order(:date).each do |price|
          - if price.persisted?
            %tr
              %td= number_to_currency(price.value)
              %td= l(price.date)
              %td
                = link_to [:manage, @event, price],
                  data: { method: :delete, confirm: 'Avançar com a operação?'} do
                  %i.fa.fa-remove.action-danger
                  


