%h2.title
  %i.fa.fa-calendar
  = @event.name

.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-book
      = @entry.persisted? ? @entry.title : 'Novo Artigo'
    %ul.ui-box-actions
      %li
        = link_to [:manage, @event, :entries], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
  .ui-box-body
    = simple_form_for(@entry, url: [:manage, @event, @entry],
      wrapper: 'foundation_inline',
      html: { class: 'inline-form' }) do |f|
      = f.input :title, wrapper_html: { class: 'first' }, autofocus: true
      = f.input :content, input_html: { rows: 40 }
      = f.input :publish, as: :boolean

      .input.submit
        = f.button :submit, class: 'flat-button'
