- title('Artigos')
%h1
  %i.fa.fa-calendar
  = @event.name
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-book
      Artigos
    %ul.ui-box-actions
      %li
        = link_to [:manage, :events], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
      %li
        = link_to [:new, :manage, @event, :entry], class: 'action' do
          %i.fa.fa-plus.action-ok
  .ui-box-body
    %table
      %thead
        %tr
          %td Título
          %td Data Criação
          %td Estado
      %tbody
        - @entries.each do |entry|
          %tr
            %td
              = entry.title
              = link_to [:edit, :manage, @event, entry], title: 'Editar Artigo' do
                %i.fa.fa-pencil.fa-fw
              = link_to [:manage, @event, entry], title: 'Apagar Artigo', method: 'delete', confirm: 'Remover Artigo?' do
                %i.fa.fa-times.fa-fw.action-danger
            %td= l(entry.created_at)
            %td
              %span.label{ class: entry.published? ? 'a' : 'p'}
                = t(entry.state, scope: 'entry')