- @events.each do |event|
  .ui-box
    .ui-box-header.clearfix
      %h2.title.left
        %i.fa.fa-calendar
        = event.name
      %ul.ui-box-actions
        %li
          = link_to [:manage, event], class: 'action' do
            %i.fa.fa-list.action-ok
        %li
          = link_to [:manage, event, :identification], class: 'action' do
            %i.fa.fa-barcode.action-ok
    .ui-box-body
      %table
        %thead
          %tr
            %th
            %th Equipa
            %th Responsável
            %th Email
            %th Pago
            %th Pendente
            %th Transações
        %tbody
          - event.registrations.each do |registration|
            %tr
              %td.status{ class: registration.state.downcase }
              %td= link_to registration.team.name, [:manage, registration]
              %td= link_to registration.user.profile.name, [:manage, registration.user]
              %td= registration.user.email
              %td= number_to_currency(registration.paid)
              %td= number_to_currency(registration.balance)
              %td= registration.transactions.size
