%h2
  %i.fa.fa-calendar
  = @event.name
.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-inbox
      Inscrever
  .ui-box-body
    = simple_form_for(:registration, url: [:manage, @event, :registrations],
      wrapper: 'foundation_inline', html: { class: 'inline-form' }) do |f|
      %table
        %thead
          %tr
            %th
            %th Nome
            %th Email
            %th Contacto
            %th CC
        %tbody
          - @users.each do |user|
            %tr
              %td= check_box_tag 'registration[user_ids][]', user.id
              %td= user.name
              %td= user.email
              %td= user.profile.phone_number
              %td= user.profile.citizen_id
      
      .input.submit
        = f.button :submit, 'Inscrever', class: 'flat-button last'
