%h2.title
  %i.fa.fa-calendar
  = @registration.event.name
  %span.subheader
    - if @registration.price
      Inscrição: #{number_to_currency(@registration.price.value)}
    - else
      Inscrição: #{number_to_currency(0)}
.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-inbox
      #{@registration.user.name} :: #{@registration.team.name}
    %ul.ui-box-actions
      %li
        = link_to [:manage, :registrations], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
      - if @registration.paid?
        %li
          = link_to [:revoke, :manage, @registration], class: 'action' do
            %i.fa.fa-undo.action-danger
      - else
        %li
          = link_to [:approve, :manage, @registration], class: 'action' do
            %i.fa.fa-ok.action-ok
  .ui-box-body
    %table
      %thead
        %tr
          %th
          %th Documento
          %th Data Envio
          %th Valor
          %th
      %tbody
        - @transactions.each do |transaction|
          %tr
            %td.status{ class: transaction.state.downcase }
            = simple_form_for([:manage, transaction]) do |f|
              %td= link_to 'Ver Documento', transaction.payment_proof.attachment.url
              %td= l(transaction.created_at)
              - if transaction.verified?
                %td= transaction.amount
                %td
                  = f.input_field :amount, as: :hidden
                  = hidden_field_tag :revoke
                  %button.simple.action-danger{ title: 'Revogar' }
                    %i.fa.fa-undo
              - else
                %td= f.input_field :amount, class: 'last'
                %td
                  %button.simple.action-ok{ title: 'Aprovar' }
                    %i.fa.fa-ok
      %tfoot
        %tr
          %td
          %td.total{ colspan: 3 } A Pagar
          %td= number_to_currency(@registration.total)
        %tr
          %td
          %td.balance{ colspan: 3 } Balanço
          %td= number_to_currency(@registration.balance)
