- title('Contactos')

.row
  .large-12.columns
    .auth-box
      %h3 Contacto
      .form
        = simple_form_for(@message) do |f|

          = f.input :from, wrapper_html: { class: 'first' }, autofocus: true, label: false, placeholder: 'De'
          = f.input :subject, label: false, placeholder: 'Assunto'
          = f.input :body, as: :text, label: false, placeholder: 'Mensagem'
          = f.button :submit, 'Enviar Mensagem',  class: 'flat-button'

      .options
        %p
          = link_to 'Status - Fitness & Health Club', 'http://status-fitness.com'
        %p
          %i.fa.fa-home.fa-fw
          Rua São João de Deus 1º S/N
          %br
          4760-162 Vila Nova de Famalicão
        %p
          %i.fa.fa-phone.fa-fw
          (+351) 252 374 845
          %br
          %i.fa.fa-mobile-phone.fa-fw
          (+351) 914 728 868
          %br
          %i.fa.fa-envelope.fa-fw
          geral@famarunners.com
