- title('Perfil de Utilizador')

- unless current_user.profile.try(:persisted?)
  .panel
    %h3
      %i.fa.fa-info-sign
      Dados Pessoais

    %p
      Estás a um passo de concluir a tua inscrição. É importante que os dados associados à tua conta sejam atuais e corretos, pois, serão utilizados para futuras inscrições.

    %p
      Assim, sempre que te quiseres inscrever numa prova, bastará um clique!

.ui-box
  .ui-box-header.clearfix
    %h2.title
      %i.fa.fa-user
      Editar Perfil
  .ui-box-body
    = simple_form_for(@profile, url: account_profile_path,
      wrapper: 'foundation_inline', html: { class: 'inline-form'}) do |f|

      .input.string.first
        = f.label :first_name, class: "#{'error' if @profile.name_error}"
        .control-input
          = f.input_field :first_name, placeholder: 'Primeiro',
            class: "#{'error' if @profile.errors.include?(:first_name)}"
          = f.input_field :last_name, placeholder: 'Último',
            class: "#{'error' if @profile.errors.include?(:last_name)}"
          - if @profile.errors.include?(:first_name) || @profile.errors.include?(:last_name)
            %small.error= @profile.name_error

      = f.input :birthdate, start_year: Time.now.year - 90, end_year: Time.now.year - 13
      = f.association :gender
      = f.input :citizen_id, placeholder: 'Nº do cartão de cidadão ou bilhete de identidade'

      .input.numeric
        = f.label :postal_code
        .control-input
          = f.input_field :postal_code, placeholder: 'Código (ex. 4760)',
            class: "#{'error' if @profile.errors.include?(:postal_code)}"
          = f.input_field :postal_extension, placeholder: 'Extensão (ex. 101)',
            class: " #{'error' if @profile.errors.include?(:postal_extension)}"
          - if @profile.errors.include?(:postal_code) || @profile.errors.include?(:postal_extension)
            %small.error= @profile.postal_error

      = f.association :country, selected: proc { |item| f.object.country.try(:id) == item.id || item.id == 'PT' }
      = f.input :phone_number
      = f.input :shirt_size, collection: Profile::SHIRT_SIZES

      .input.submit
        = f.button :submit, class: 'flat-button'
