%h2 Reenviar Instruções Para Desbloquear Conta

= simple_form_for(resource, :as => resource_name,
  :url => unlock_path(resource_name)) do |f|
  
  = f.input :email
  
  = f.submit "Resend unlock instructions"

= render :partial => "devise/shared/links"
