@import 'foundation/foundation';

$error-color: $alert-color;
$small-alert-color: $alert-color;

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  background: #fafafa;
  font-size: em-calc(14px);
  min-height: 100%;
  overflow: hidden;
}

body:after {
  clear: both;
  content: ' ';
  display: block;
}

.page {
  @include grid-row($behavior: nest-collapse);
}

.sidebar {
  @include grid-column(3, $collapse: true);

  background: #f2f3f4;
  border-right: 1px solid #d8d8d8;
  margin-bottom: -99999px;
  overflow: visible;
  padding-bottom: 99999px;
  top: 0;
  width: 222px;

  .side-nav {
    font-size: em-calc(14px);
    list-style-type: none;
    margin: 0;

    a {
      border-bottom: 1px solid #d8d8d8;
      box-shadow: 0 1px 0 0 #fafafb;
      display: block;
      padding: 10px;
    }

    a:hover {
      background: #fff;
    }

    a.active {
      background: #fff;
    }
  }

  > .first {
    background: #fafafa;
    border-top: 1px solid #d8d8d8;
  }
}

.top-nav {
  font-size: em-calc(14px);
  list-style-type: none;

  li {
    float: right;
  }

  li > a {
    border-left: 1px solid #d8d8d8;
    display: block;
    padding: 6px 10px;

    &:hover {
      background: #fff;
    }

    &.active {
      background: #fff;
    }
  }

  li > .user {
    color: #999;
    display: block;
    padding: 6px 10px;
  }
}

.main {
  margin-left: 223px;
  padding: 20px;
}

// top-bar

.top-bar {
  background: #f2f3f4;
  height: 34px;
  position: relative;

  & > .inner {
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    height: 35px;
    left: 221px;
    position: absolute;
    right: 0;
    text-align: right;
  }
}

.flat-button {
  @include button-base;
  @include button-size($button-tny);
  @include button-style($radius: true);
}

label {
  margin-bottom: .5em;
}

select {
  width: auto;
}

#team_registration_team {
  display: inline;
  width: 40%;
}

.sep {
  float: left;
  padding: 8px;
}

tr.event {
  background-color: #e1a35a !important;
}

td.status {
  width: 10px;
}

.indent {
  color: #ccc;
  text-align: right;
}

.ui-box {
  background: #fafafa;
  margin-bottom: 30px;

  .ui-box-header {
    //@include background-image(linear-gradient(#fafafa, #eaeaea));
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;

    .title {
      font-size: em-calc(16px);
      line-height: 1.2;
      margin: 0;
      padding: 8px;
    }
  }

  .ui-box-body {
    border: 1px solid #d5d5d5;

    &:last-child {
      margin-bottom: 0;
    }

    table,
    .last {
      margin-bottom: 0;
    }

    .first {
      margin-top: 0;
    }
  }

  .ui-box-actions {
    float: right;
    list-style-type: none;
    margin: 0;

    li {
      display: inline-block;
    }

    .action {
      border-left: 1px solid #d5d5d5;
      display: block;
      line-height: 1.2;
      padding: 9px 11px 7px;
    }
  }

  form {
    margin: 0;
    padding: 18px;
  }

  .form-primary-actions .button {
    margin-bottom: 0;
  }

  table {
    border: 0;
    width: 100%;
  }
}

form.inline-form {
  padding: 0;

  .control-label {
    @include grid-column(3);
    padding-top: 4px;
    text-align: right;
  }

  .control-input {
    @include grid-column(9);
  }

  .input {
    border-top: 1px solid #d5d5d5;
    overflow: hidden;
    padding: 20px 20px 20px 0;
  }

  .input.first {
    border-top: 0;
  }

  input,
  textarea {
    margin-bottom: 0;
  }

  #profile_postal_code,
  #profile_postal_extension,
  #profile_first_name,
  #profile_last_name,
  #user_profile_attributes_postal_code,
  #user_profile_attributes_postal_extension,
  #user_profile_attributes_first_name,
  #user_profile_attributes_last_name,
  #team_registration_postal_code,
  #team_registration_postal_extension,
  #team_registration_first_name,
  #team_registration_last_name {
    display: inline;
    margin-right: 10px;

    &:last-of-type {
      margin-right: -20px;
    }

    width: 45%;
  }

  small {
    font-size: em-calc(11px);
    margin-top: 0;
  }

  select {
    margin-bottom: 0;
  }

  fieldset {
    border: 0;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  fieldset.last,
  .single {
    border-top: 0;
    padding-bottom: 0;
  }

  fieldset.single {
    margin: 0;
    padding: 0;
  }

  legend {
    background: none;
    text-align: center;
    width: 100%;

    + .input {
      border-top: 0;
      padding-top: 0;
    }
  }
}

.input.submit {
  text-align: center;
}

small.error,
.error small {
  background: none;
  color: $error-color;
}

.clearfix {
  overflow: hidden;
}

label {
  margin-bottom: .5em;
}

select {
  width: auto;
}

.action-alert {
  color: $small-alert-color;
}

.action-ok {
  color: $success-color;
}

.action-danger {
  color: $error-color;
}

.balance-line {
  background: #ccc;
}

.balance-title {
  text-align: right;
}

.logo,
.powered-by {
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 0 0 #fafafb;
  padding: 10px 0;
  text-align: center;
}

.panel .last {
  margin-bottom: 0;
}

.suffix-wrapper {
  @include grid-row(collapse);

  .suffix-button {
    @include grid-column(3);
  }

  .suffix-input {
    @include grid-column(9);
  }
}

.team-select {
  @include grid-column(3);
  padding-top: 5px;
}

.team-create {
  @include grid-column(9);
}

.a {
  background-color: $success-color;
}

.p {
  background-color: $small-alert-color;
  color: #555;
}

.r {
  background-color: $error-color;
}

#contact_body {
  height: 100px;
}

.label.alert {
  background: $small-alert-color;
}

.ui-stacked-info {
  font-size: em-calc(14px);

  .row {
    @include grid-row;
    overflow: hidden;

    &:last-child .column {
      border-bottom: 0;
    }

    .column {
      border-bottom: 1px solid #d5d5d5;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .column.first {
      @include grid-column(3);
      font-weight: bold;
    }

    .column.second {
      @include grid-column(9);
      border-left: 1px solid #ccc;
    }
  }
}

.manager-auth {
  background: #f2f2f2;
}

.manager-login {
  @include grid-row;

  > .inner {
    margin-top: 60px;
    @include grid-column(6, $center: true, $float:none);
  }

  .secondary-link {
    font-size: em-calc(14px);
  }

  .ui-box .ui-box-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .ui-box .ui-box-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .ui-box {
    border-radius: 5px;
  }
}

@for $i from 1 through 12 {
  .column-#{$i} {
    @include grid-column($i);
  }
}

.title .subheader {
  display: block;
  font-size: em-calc(8px);
}

td.balance,
td.total {
  text-align: right;
}

button.simple {
  background: none;
  border: 0;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#event_description,
#entry_content {
  height: 200px;
}

.media-icon i {
  font-size: em-calc(50px);
}

table tr.odd {
  background-color: #fff;
}
