@import 'foundation/foundation';

$footer-height: 200px;

html,
body {
  background: #ededed;
  height: 100%;
}

header {
  background-color: #373737;
  height: 60px;
}

aside { margin-bottom: 25px; }

footer {
  background: #007295;
  color: #ddd;

  .title { color: #ddd; }

  a:link { color: scale-color(#007295, $lightness: -50%); }
  a:hover { color: scale-color(#007295, $lightness: -70%); }
}

.footer-inner {
  height: $footer-height;
  padding: 10px;
}

#content-wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer-height);
  min-height: 100%;
}

.feed > .row:last-child {
  margin-bottom: 25px;
}

.ui-side-box {
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .01);
  margin-top: 25px;

  .ui-side-box-head {
    background: #ededed;
    padding: 0 0 5px;
  }

  .ui-side-box-body {
    color: rgb(97, 97, 97);
    padding: 25px;
  }

  .ui-side-box-inner {
    padding: 25px;
  }
}

// ui-event-teaser

.ui-event-teaser {
  background: rgb(0, 114, 149);
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .01);
  margin-top: 25px;

  .ui-event-teaser-media {
    position: relative;
  }

  .ui-event-teaser-head {
    .title,
    p {
      color: rgb(220, 220, 220);
    }
  }

  .ui-event-teaser-media:after {
    @include css-triangle(20px, rgb(0, 114, 149), bottom);
    bottom: -1px;
    left: 20px;
    position: absolute;
  }

  .ui-event-teaser-inner {
    padding: 25px;
  }

  .ui-event-teaser-head {
    .title {
      margin-top: 0;
    }
  }

  .ui-event-teaser-head > p:last-child,
  .ui-event-teaser-body > p:last-child {
    margin-bottom: 0;
  }
}

ui-event-teaser:last-child {
  margin-bottom: 25px;
}

// ui-info-tab

.ui-info-tab {
  background: rgb(0, 114, 149);
  margin-top: 25px;

  .ui-info-tab-body {
    position: relative;
  }

  .ui-info-tab-left {
    color: #eee;
    float: left;
    font-size: em-calc(24px);
    padding: 10px;
    text-align: center;
    width: 160px;
  }

  .ui-info-tab-right {
    background-color: #fff;
    color: #616161;
    margin-left: 160px;
    padding: 10px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .timestamp {
    font-size: em-calc(18px);
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sep {
    padding: 0 5px;
  }
}

.flat-button {
  @include button-base;
  @include button-size($button-tny);
  @include button-style($radius: true);
}

.auth-box {
  margin-top: 25px;
}

.push {
  height: $footer-height;
}
