.ui-box
  .ui-box-header
    %h2.title
      %o.fa.fa-unlock
      Alterar Password

  .ui-box-body
    = simple_form_for(resource, :as => resource_name,
      :url => password_path(resource_name), :html => { :method => :put }) do |f|    

      = f.input :reset_password_token, as: :hidden, input_html: { value: params[:reset_password_token] }
      = f.input :password, placeholder: 'mínimo 8 carateres'
      = f.input :password_confirmation
      
      = f.button :submit, 'Alterar Password', class: 'flat-button last'

      %span.secondary-link
        ou
        = link_to 'Autenticar', new_manager_session_path
