.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-unlock
      Recuperar Password

  .ui-box-body
    = simple_form_for(resource, :as => resource_name,
      :url => password_path(resource_name)) do |f|

      = f.input :email, label: false, placeholder: 'email', autofocus: true
      = f.button :submit, 'Receber instruções de recuperação', class: 'flat-button last'
      %span.secondary-link
        ou
        = link_to 'Autentica-te', new_session_path(resource_name) 

