- title('Contacta-nos')
.ui-box
  .ui-box-header
    %h2.title
      %i.fa.fa-envelope-alt
      Contacto
  .ui-box-body
    = simple_form_for([:account, @message], wrapper: 'foundation_inline',
      html: { class: 'inline-form'}) do |f|

      = f.input :from, wrapper_html: { class: 'first' }
      = f.input :subject
      = f.input :body, as: :text

      .input.submit
        = f.button :submit, 'Enviar Mensagem',  class: 'flat-button'
