- title('Recuperar Password')

.row
  .large-12.columns
    .auth-box
      %h3 Recuperar Password
      .form
        = simple_form_for(resource, :as => resource_name,
        :url => password_path(resource_name), :html => { :method => :put }) do |f|

          = f.input :reset_password_token, as: :hidden, input_html: { value: params[:reset_password_token] }
          = f.input :password, label: 'Nova password', placeholder: 'mínimo 8 carateres', autofocus: true
          = f.input :password_confirmation, label: 'Nova password, confirmação'
          = f.button :submit, 'Alterar Password', class: 'flat-button'

      .options
        = render :partial => "users/shared/links"
