- title('Recuperação de Password')

.row
  .large-12.columns
    .auth-box
      %h3 Recuperar Password
      .form
        = simple_form_for(resource, :as => resource_name,
          :url => password_path(resource_name)) do |f|

          = f.input :email, placeholder: 'email', label: false, autofocus: true
          = f.button :submit, 'Enviar instruções de recuperação!', class: 'flat-button'

      .options
        = render :partial => "users/shared/links"
