- title('1º Trail Santa Catarina')

.row
  .small-12.columns
    .ui-info-tab
      .ui-info-tab-body
        .ui-info-tab-left
          %ul.timestamp
            %li
              = Time.now.day
            %li
              = Time.now.strftime("%B")
            %li
              = Time.now.year

        .ui-info-tab-right
          %h5 I Diver Trail de Portugal
          %p.subheader Póvoa de Lanhoso
          %p
            = link_to '#' do
              %i.fa.fa-inbox
              Inscrever
            %span.sep /
            = link_to '#' do
              %i.fa.fa-plus
              Informações
.row
  .small-12.columns
    .ui-info-tab
      .ui-info-tab-body
        .ui-info-tab-left
          %ul.timestamp
            %li
              = Time.now.day
            %li
              = Time.now.strftime("%B")
            %li
              = Time.now.year

        .ui-info-tab-right
          %h5 16ª Meia Maratona Manuela Machado
          %p.subheader Viana do Castelo
          %p
            = link_to '#' do
              %i.fa.fa-inbox
              Inscrever
            %span.sep /
            = link_to '#' do
              %i.fa.fa-plus
              Informações

-# .row
-#   .large-12.columns
-#     - if @events.any?
-#       - @events.each do |event|
-#         .ui-event-teaser
-#           .ui-event-teaser-date
-#             %span.day
-#               = event.registration_limit.day
-#             %span.month
-#               = t('date.month_names')[event.registration_limit.month]
-#             %span.year
-#               = event.registration_limit.year
-#           .ui-event-teaser-body
-#             %h1.title= event.name
-#             %p
-#               %i.fa.fa-map-marker
-#               = event.address
-#               \-
-#               = PostalCode.where(postal_code: event.postal_code, postal_extension: event.postal_extension).take.try(:postal_name)
-#               %i.fa.fa-clock-o
-#                 00:00

