//= require font-awesome/scss/font-awesome
//= require app/site

/*body {
  background: black;
}

header {
  @include grid-row;

  .header-inner {
    @include grid-column(12);
  }
}

section {
  @include grid-row;

  .section-inner {
    @include grid-column(12);
  }
}

footer {
  @include grid-row;

  .footer-inner {
    @include grid-column(12);
  }
}

.ui-event-teaser {
  position: relative;
  min-height: 95px;

  background: #fff;
  margin-bottom: 10px;

  .title {
    font-size: emCalc(16px);
    color: #329dbb;
  }

  .ui-event-teaser-date {
    position: absolute;
    top: 0;
    bottom: 0;

    padding: 10px 0;
    width: 100px;

    text-align: center;
    line-height: 1.5;

    background: #329dbb;
  }

  .ui-event-teaser-body {
    margin-left: 120px;
    padding: 10px 0;
    color: #999;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .day, .month, .year {
    display: block;
  }
}*/

/*html {
  ackground: url(image-path('app/big.jpg')) no-repeat center center fixed;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('app/big.jpg')}', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('app/big.jpg')}', sizingMethod='scale');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

body {
  background: rgba(0, 0, 0, 0.2);
  font-size: emCalc(14px);
  min-height: 100%;
}

.top {
  @include grid-row;

  .inner {
    @include grid-column(12);
    text-align: center;
    margin-top: 60px;
  }
}

.wrap {
  background: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.middle {
  @include grid-row;


  &>.inner {
    @include grid-column(12);
  }
}

.footer {
  @include grid-row;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;

  &>.organization, &>.sponsors, &>.support, &>.contacts {
    @include grid-column(4);

    @media #{$small} {
      @include grid-column(8, $center: true);
    }
  }

  .title {
    font-weight: normal;
    font-size: emCalc(16px);
    text-align: left;
  }

  .pill {
    background: rgba(15, 114, 184, 0.3);
    padding: 5px;
    border-radius: 10px;
    color: #ccc;
    margin-bottom: 10px;
    font-size: emCalc(14px);
    text-align: left;
    padding-left: 20px;

    a {
      color: $body-font-color;
    }
  }
}

.auth-box {
  @include grid-row($behavior: nest);

  &>.form {
    @include grid-column(4);
  }

  &>.options {
    @include grid-column(6);
  }

  @media #{$small} {
    &>.form {
      @include grid-column(12);
    }

    &>.options {
      @include grid-column(9, $center: true);
    }
  }
}

.auth-options {
    list-style-type: none;
}

.flat-button {
    @include button-base;
    @include button-size($button-sml);
    @include button-style($primary-color);

    &.large {
      @include button-size($button-lrg);
    }

    &.radius {
      border-radius: 5px;
    }
}

label {
  margin-bottom: 0.5em;
}

select {
  width: auto;
}

input#team_registration_team {
  width: 40%;
  display: inline;
}

.sep {
  float: left;
  padding: 8px;
}

tr.event {
  background-color: #90D69E !important;
}

.register-for-event {
  margin-top: 30px;
}

#contact_body {
  height: 100px;
}

.float-menu {
  @media #{$small} {
    font-size: emCalc(12px);
  }
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  z-index: 5;

  > ul {
    list-style-type: none;

    li {
      float: left;

      &:first-child a {
        border: none;
      }
    }

    a {
      padding: 6px;
      display: block;
      border-left: 1px solid #444;
      color: #999;
    }
  }
}*/
