<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="s22">
    <NumberFormat ss:Format="Short Date"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Primeiro Nome</Data></Cell>
        <Cell><Data ss:Type="String">Último Nome</Data></Cell>
        <Cell><Data ss:Type="String">Data Nascimento</Data></Cell>
        <Cell><Data ss:Type="String">Idade</Data></Cell>
        <Cell><Data ss:Type="String">Género</Data></Cell>
        <Cell><Data ss:Type="String">Código Postal</Data></Cell>
        <Cell><Data ss:Type="String">Extensão Postal</Data></Cell>
        <Cell><Data ss:Type="String">Designação Postal</Data></Cell>
        <Cell><Data ss:Type="String">Contacto</Data></Cell>
        <Cell><Data ss:Type="String">Identificação</Data></Cell>
        <Cell><Data ss:Type="String">E-mail</Data></Cell>
        <Cell><Data ss:Type="String">T-Shirt</Data></Cell>
        <Cell><Data ss:Type="String">Confirmado</Data></Cell>
      </Row>
    <% @users.each do |user| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= user.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.profile.try(:first_name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.profile.try(:last_name) %></Data></Cell>
    <% if user.profile %>
        <Cell ss:StyleID="s22"><Data ss:Type="DateTime"><%= user.profile.birthdate.strftime('%FT%T.%L') %></Data></Cell>
    <% else %>
        <Cell ss:StyleID="s22"><Data ss:Type="DateTime"></Data></Cell>
    <% end %>
        <Cell><Data ss:Type="Number"><%= user.profile.try(:age) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.profile.try(:gender) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user.profile.try(:postal_code) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user.profile.try(:postal_extension) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= PostalCode.where(postal_code: user.profile.try(:postal_code), postal_extension: user.profile.try(:postal_extension)).take.try(:postal_name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.profile.try(:phone_number) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.profile.try(:citizen_id) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.profile.try(:shirt_size) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.confirmed? %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>


