.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-user
      Utilizadores
    %ul.ui-box-actions
      %li
        = link_to [:new, :manage, :user], class: 'action' do
          %i.fa.fa-plus.action-ok
      %li
        = link_to manage_users_path(format: 'xls'), class: 'action' do
          %i.fa.fa-download.action-ok
  .ui-box-body
    %table
      %thead
        %tr
          %th
          %th Nome
          %th Email
          %th Entradas
          %th Último Acesso
      %tbody
        - @users.each do |user|
          %tr
            %td.status{ class: (user.confirmed? ? 'a' : 'p') }
            - if user.profile.try(:persisted?)
              %td= link_to user.profile.name, [:manage, user]
            - else
              %td= link_to 'Sem Perfil', [:manage, user]
            %td= user.email
            %td= user.sign_in_count
            %td= l(user.last_sign_in_at) if user.last_sign_in_at
