.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-user
      Registar Utilizador 
    %ul.ui-box-actions
      %li
        = link_to [:manage, :users], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
  .ui-box-body
    = simple_form_for(@user, url: [:manage, :users],
      wrapper: 'foundation_inline', html: { class: 'inline-form' }) do |f|
      = f.input :email, wrapper_html: { class: 'first' }
      = f.simple_fields_for(:profile) do |builder|
        .input.string
          = builder.label :first_name, class: "#{'error' if builder.object.name_error}"
          .control-input
            = builder.input_field :first_name, placeholder: 'Primeiro',
              class: "#{'error' if builder.object.errors.include?(:first_name)}"
            = builder.input_field :last_name, placeholder: 'Último',
              class: "#{'error' if builder.object.errors.include?(:last_name)}"
            - if builder.object.errors.include?(:first_name) || builder.object.errors.include?(:last_name)
              %small.error= builder.object.name_error

        = builder.input :birthdate, start_year: Time.now.year - 90, end_year: Time.now.year - 13
        = builder.association :gender

        .input.numeric
          = builder.label :postal_code
          .control-input
            = builder.input_field :postal_code, placeholder: 'Código',
              class: "#{'error' if builder.object.errors.include?(:postal_code)}"
            = builder.input_field :postal_extension, placeholder: 'Extensão',
              class: " #{'error' if builder.object.errors.include?(:postal_extension)}"
            - if builder.object.errors.include?(:postal_code) || builder.object.errors.include?(:postal_extension)
              %small.error= builder.object.postal_error

        = builder.input :citizen_id
        = builder.association :country
        = builder.input :phone_number

      .input.submit
        = f.button :submit, 'Inscrever', class: 'flat-button'

