- if @user.profile.try(:persisted?)
  .ui-box
    .ui-box-header.clearfix
      %h2.title.left
        %i.fa.fa-user
        = @user.profile.try(:persisted?) ? @user.profile.name : @user.email
      %ul.ui-box-actions
        %li
          = link_to [:manage, :users], class: 'action' do
            %i.fa.fa-chevron-left.action-alert
    .ui-box-body
      .ui-stacked-info
        .row
          .column.first
            Nome
          .column.second
            = @user.name
        .row
          .column.first
            Email
          .column.second
            %i.fa.fa-envelope
            = @user.email
        .row
          .column.first
            Data Nascimento
          .column.second
            %i.fa.fa-gift
            = l(@user.profile.birthdate)
            = ('(%s)') % @user.profile.age
        .row
          .column.first
            Género
          .column.second
            - if @user.profile.gender.female?
              %i.fa.fa-female
            - else
              %i.fa.fa-male
            = @user.profile.gender.name
        .row
          .column.first
            Cód. Postal
          .column.second
            %i.fa.fa-map-marker
            = @user.profile.postal_code
            \-
            = @user.profile.postal_extension
            \-
            = PostalCode.where(postal_code: @user.profile.postal_code, postal_extension: @user.profile.postal_extension).take.try(:postal_name)
        .row
          .column.first
            Identificação
          .column.second
            %i.fa.fa-user
            = @user.profile.citizen_id
        .row
          .column.first
            Contacto
          .column.second
            %i.fa.fa-phone
            = @user.profile.phone_number
        .row
          .column.first
            T-Shirt
          .column.second
            %i.fa.fa-resize-full
            = @user.profile.try(:shirt_size)
- else
  %h3
    %i.fa.fa-info-sign
    Este Utilizador Ainda Não Criou Perfil
