.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-folder-open
      #{@action} Escalão
    %ul.ui-box-actions
      %li
        = link_to [:manage, :categories], class: 'action' do
          %i.fa.fa-chevron-left.action-alert
  .ui-box-body
    = simple_form_for(@category, url: [:manage, @category],
      wrapper: 'foundation_inline', html: { class: 'inline-form' }) do |f|
      = f.input :name, wrapper_html: { class: 'first' }, autofocus: true
      .input.submit
        = f.button :submit, class: 'flat-button last'
