.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-folder-open
      Escalões
    %ul.ui-box-actions
      %li
        = link_to [:new, :manage, :category], class: 'action' do
          %i.fa.fa-plus.action-ok
  .ui-box-body
    %table
      %thead
        %tr
          %th Nome
          %th Ações
      %tbody
        - @categories.each do |category|
          %tr
            %td= link_to category.name, [:edit, :manage, category]
            %td
              = link_to [:manage, category],
                data: { method: 'delete', confirm: 'Avançar com a operação?'} do
                %i.fa.fa-remove.action-danger
