.ui-box
  .ui-box-header
    %h2.title.form-title Editar Conta
  .ui-box-body
    = simple_form_for(resource, :as => resource_name,
      :url => [resource_name, 'registration'],
      :html => { :method => :patch, class: 'inline-form' },
      wrapper: 'foundation_inline') do |f|

      = f.input :email, wrapper_html: { class: 'first' }
      = f.input :current_password
      = f.input :password, label: 'Nova Password'
      = f.input :password_confirmation
      .input.submit
        = f.button :submit, class: 'flat-button last'
