%h2 Criar Conta
= simple_form_for(resource, :as => resource_name,
  :url => registration_path(resource_name)) do |f|

  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit

= render :partial => "devise/shared/links"
