!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'FamaRunners'

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: 'msapplication-TileColor', content: '#2d2d2d' }
    %meta{ name: 'msapplication-TileImage', content: '/favfa.fa-144.png' }

    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag "account", media: "all"
    = javascript_include_tag "application"

    %link{ rel: 'apple-touch-fa.fa', href: '/favfa.fa.png' }
    %link{ rel: 'fa.fa', href: '/favfa.fa.png' }

    /[if IE]
      %link{ rel: 'shortcut fa.fa', href: '/favfa.fa.ico' }

    = csrf_meta_tags

  %body
    .page
      .top-bar
        .inner
          %ul.top-nav
            %li
              = link_to destroy_user_session_path do
                %i.fa.fa-sign-out
                Sair
            %li
              = link_to account_contacts_path,
                class: ('active' if current_page_in?('account/contacts')) do
                %i.fa.fa-envelope
                Contactos
            %li
              = link_to edit_user_registration_path,
                class: ('active' if current_page_in?('devise/registrations')) do
                %i.fa.fa-cogs
                Conta
            %li
              = link_to account_profile_path,
                class: ('active' if current_page_in?('account/profiles')) do
                %i.fa.fa-user
                = current_user.name
      %nav.sidebar
        .powered-by.first
          = link_to root_path do
            = image_tag('account/logo.png')
        %ul.side-nav
          %li
            = link_to account_dashboard_path,
              class: ('active' if current_page_in?('account/dashboard')) do
              %i.fa.fa-dashboard
              Dashboard
          %li
            = link_to [:account, :teams],
              class: ('active' if current_page_in?('account/teams')) do
              %i.fa.fa-group
              Equipas
          %li
            = link_to [:account, :registrations],
              class: ('active' if current_page_in?('account/registrations')) do
              %i.fa.fa-inbox
              Inscrições
          %li
            = link_to [:account, :transactions],
              class: ('active' if current_page_in?('account/transactions')) do
              %i.fa.fa-eur
              Transações

      .main
        - if flash.any?
          - flash.each do |key, message|
            %div{ class: ['alert-box', key] }
              = message
              %a{ class: 'close' } &times;
        = yield

    - if Rails.env.production?
      = render 'shared/analytics'
