!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'FamaRunners'

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: 'msapplication-TileColor', content: '#2d2d2d' }
    %meta{ name: 'msapplication-TileImage', content: '/favicon-144.png' }

    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"

    %link{ rel: 'apple-touch-icon', href: '/favicon.png' }
    %link{ rel: 'favicon', href: '/favicon.png' }

    /[if IE]
      %link{ rel: 'shortcut icon', href: '/favicon.ico' }

    = csrf_meta_tags

%body
  #content-wrapper
    #nav-wrapper
      %nav.top-bar{ data: { topbar: '' } }
        %ul.title-area
          %li.name
            %h1
              = link_to 'Fama Runners', root_path
          %li.toggle-topbar.menu-icon
            = link_to '', '#'
        %section.top-bar-section
          %ul.right
            - if user_signed_in?
              %li
                = link_to [:account, :dashboard] do
                  %i.fa.fa-dashboard
                  Dashboard
              %li
                = link_to :contacts do
                  %i.fa.fa-envelope
                  Contactos
              %li
                = link_to destroy_user_session_path do
                  %i.fa.fa-sign-out
                  Sair
            - else
              %li
                = link_to new_user_session_path do
                  %i.fa.fa-sign-in
                  Login
              %li
                = link_to user_omniauth_authorize_path(:facebook),
                  title: 'Autenticar/Registar com Facebook' do
                  %i.fa.fa-sign-in
                  Facebook
              %li
                = link_to new_registration_path(:user) do
                  %i.fa.fa-user
                  Registar
              %li
                = link_to :contacts do
                  %i.fa.fa-envelope
                  Contactos


    %section.row
      .large-8.small-12.columns.feed
        = yield
      %aside.large-4.columns.hide-for-small
        .ui-side-box
          .ui-side-box-head
            %h5.title Redes Sociais
          .ui-side-box-body
            dee
        .ui-side-box
          .ui-side-box-head
            %h5.title Apoios
          .ui-side-box-body
            dee
    .push

  %footer
    .footer-inner.row
      .large-12.colums
        .contacts
          %h3.title Contactos
          %p
            %i.fa.fa-phone.fa-fw
            %span (+351) 252 374 845
            %br
            %i.fa.fa-mobile-phone.fa-fw
            %span (+351) 914 728 868
            %br
            %i.fa.fa-envelope.fa-fw
            %span geral@famarunners.com
            %br
            %span
              %i.fa.fa-facebook.fa-fw
              = link_to 'http://facebook.com/famarunners' do
                @FamaRunners

  - if Rails.env.production?
    = render 'shared/analytics'
