!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'FamaRunners'

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: 'msapplication-TileColor', content: '#2d2d2d' }
    %meta{ name: 'msapplication-TileImage', content: '/favfa.fa-144.png' }

    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag "manage", media: "all"
    = javascript_include_tag "application"

    %link{ rel: 'apple-touch-fa.fa', href: '/favfa.fa.png' }
    %link{ rel: 'fa.fa', href: '/favfa.fa.png' }

    /[if IE]
      %link{ rel: 'shortcut fa.fa', href: '/favfa.fa.ico' }

    = csrf_meta_tags

  %body
    .page
      .top-bar
        .inner
          %ul.top-nav
            %li
              = link_to destroy_user_session_path do
                %i.fa.fa-sign-out
                Sair
            %li
              = link_to manager_registration_path,
                class: ('active' if current_page_in?('devise/registrations')) do
                %i.fa.fa-cogs
                Conta
      %nav.sidebar
        .powered-by.first
          = link_to root_path do
            = image_tag('account/logo.png')
        %ul.side-nav
          %li
            = link_to [:manage, :users],
              class: ('active' if current_page_in?('manage/users')) do
              %i.fa.fa-inbox
              Utilizadores
          %li
            = link_to [:manage, :categories],
              class: ('active' if current_page_in?('manage/categories')) do
              %i.fa.fa-folder-open
              Escalões
          %li
            = link_to [:manage, :teams],
              class: ('active' if current_page_in?('manage/teams')) do
              %i.fa.fa-group
              Equipas
          %li
            = link_to [:manage, :events],
              class: ('active' if current_page_in?('manage/events', 'manage/identifications')) do
              %i.fa.fa-group
              Eventos
          %li
            = link_to [:manage, :registrations],
              class: ('active' if current_page_in?('manage/registrations')) do
              %i.fa.fa-eur
              Inscrições

      .main
        - if flash.any?
          - flash.each do |key, message|
            %div{ class: ['alert-box', key] }
              = message
              %a{ class: 'close' } &times;
        = yield

    - if Rails.env.production?
      = render 'shared/analytics'
