!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'FamaRunners'

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: 'msapplication-TileColor', content: '#2d2d2d' }
    %meta{ name: 'msapplication-TileImage', content: '/favfa.fa-144.png' }

    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag "manage", media: "all", debug: true
    = javascript_include_tag "application"

    %link{ rel: 'apple-touch-fa.fa', href: '/favfa.fa.png' }
    %link{ rel: 'fa.fa', href: '/favfa.fa.png' }

    /[if IE]
      %link{ rel: 'shortcut fa.fa', href: '/favfa.fa.ico' }

    = csrf_meta_tags

  %body.manager-auth
    - if flash.any?
      - flash.each do |key, message|
        %div{ class: ['alert-box', key] }
          = message
          %a{ class: 'close' } &times;
    .manager-login
      .inner
        = yield
