:plain
  Olá #{@resource.name}!

  Para concluires o registo e ativares a tua conta no site famarunners.com basta que cliques no link que se segue:

  #{confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)}

  Boas Corridas,
  Equipa famarunners.com
