:plain
  Olá #{@resource.name}!

  O sistema para recuperação de password da tua conta foi despoletado no famarunners.com.

  Caso tenhas despoletado a recuperação de password voluntariamente podes dar seguimento ao processo através do seguinte link:
  #{edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)}

  Se não ativaste o processo podes simplesmente ignorar este email.

  Boas Corridas,
  Equipa famarunners.com
