:plain
  Olá #{@resource.name}!

  Detetamos atividade suspeita no acesso à tua conta. Este mecanismo de segurança foi despoletado devido a um número excessivo de tentativas de autenticação sem sucesso.

  Contudo, não há motivo para alarme, podes reativar a conta no seguinte link:
  #{unlock_url(@resource, :unlock_token => @resource.unlock_token)}

  Após reativação e, se necessário, podes recuperar a tua password no seguinte link:
  #{new_user_password_url}

  Boas Corridas,
  Equipa famarunners.com
