- title('Alteração de Password')

.ui-box
  .ui-box-header.clearfix
    %h2.title.left
      %i.fa.fa-cogs
      Editar Conta

  .ui-box-body
    = simple_form_for(resource, :as => resource_name,
      :url => [resource_name, 'registration'],
      :html => { :method => :patch, class: 'inline-form' },
      wrapper: 'foundation_inline') do |f|

      = f.input :current_password, wrapper_html: { class: 'first' }, autofocus: true
      = f.input :password, label: 'Nova Password', placeholder: 'mínimo 8 carateres'
      = f.input :password_confirmation

      .input.submit
        = f.button :submit, class: 'flat-button'
