- title('Registo')

.row
  .large-12.columns
    .auth-box
      %h3 Criar Conta
      .form
        = simple_form_for(resource, :as => resource_name,
          :url => registration_path(resource_name)) do |f|

          = f.input :email, label: false, placeholder: 'email', autofocus: true
          = f.input :password, label: false, placeholder: 'password, mínimo 8 carateres'
          = f.input :password_confirmation, label: false, placeholder: 'confirmar password'
          = f.button :submit, 'Registar!', class: 'flat-button'
      .options
        = render :partial => "users/shared/links"
